{{#section 'head'}}
	<title>404-Error</title>
{{/section}}

<!-- 404 error page-->
<div class="container">
	<h1>Page Not Found</h1>
<p>Sorry, but the page you were trying to view does not exist.</p>
</div>


