{{#section 'head'}}
	<title>Science Buzz-About</title>
{{/section}}

<div class="container">
	<h1>About Us</h1>
<p>Science Buzz is a platform designed for scientific and technology discussions of the highest quality</p>
</div>

