{{#section 'head'}}
	<title>Science Buzz</title>
{{/section}}

<div class="container" id="textcontent-container">
    <h1>Welcome to Science Buzz</h1>

    <p>“Knowledge is power? No. Knowledge on its own is nothing, but the application of useful knowledge, 
    	now that is powerful.”― Rob Liano</p> 
 </div>

 <div class="container" id="picture-container">
    <div class="row">
        <div class="thumbnail"><img src="/img/albert-einstein-quotes.jpg" alt="Knowledge Quote"></div>
    </div>
 </div>