<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Category-Web Development</title>
</head>
<body>
	<h1>Web Development Posts</h1>
	<p>Web development plays a crucial role in science as a primary means of sharing information</p>
</body>
</html>